# Ignore everything
*

# But not these files...
!sales_forecast.ipynb
!sales_forecast-Copy1.ipynb
!wine_class.ipynb
!marketing_bank.ipynb
!instacart.ipynb
!youtube_EDA

# ...even if they are in subdirectories
!*/

.DS_Store
